.filter {
  div {
    margin: 20px;
    label {
      display: inline-block;
      width: 100px;
    }
  }
}

.spinner {
  position: 'relative';
  left: '50%';
  top: '50px';
  width: '100px';
  z-index: 1000;
}